#footer {
  color: #ffffff;
  background-color: darken(#76899A, 30%);
  padding: 24px 24px;
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.copy {
  color: lighten(#1D2227, 40%);
  font-size: 12px;
  display: block;
  text-align: center;
}

.footer-nav {
  color: lighten(#1D2227, 40%);
  display: flex;
  flex-direction: row;
  font-size: 14px;
  list-style: none;
  margin-top: 12px 0;
  padding: 0;

  li {
    font-weight: 300;
    margin: 0 12px;
  }

  a {
    color: white;
    text-decoration: none;
    transition: all 100ms ease;

    &:hover {
      color: lighten(#1D2227, 40%);
    }
  }
}


