.contact-form {
  display: flex;
  flex-direction: column;
}

#form {
  input {
    padding: 14px 16px;
    font-size: 16px;
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &[type="text"],
    &[type="email"] {
      border: 1px solid rgba(#8194A4, 0.4);
      border-radius: 3px;
      box-shadow: inset 2px 2px 3px rgba(0, 0, 0, .05);
      letter-spacing: 0.01em;
      outline: none;

      &:focus {
        border: 1px solid darken(#8194A4, 1%);
      }

      &::placeholder {
        color: rgba(#8194A4, .9);
      }
    }
  }

  textarea {
    border-radius: 3px;
    border: 1px solid rgba(#8194A4, 0.4);
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, .05);
    font-size: 16px;
    height: 200px;
    letter-spacing: 0.01em;
    margin-bottom: 16px;
    outline: none;
    padding: 14px 16px;
    resize: none;

    &::placeholder {
      color: rgba(#8194A4, .9)
    }
  }
}