#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4em auto;
  align-items: center;

  a {
    text-decoration: none;
    border-bottom: none;

    &:hover {
      border-bottom: none;
    }
  }
}

#header > .site-title {
  color: $primary;
  letter-spacing: 0.025em;
  margin: 16px 0;
  text-transform: uppercase;
}

#header > .tagline {
  color: $primaryMuted;
  margin: 0;

  a {
    color: inherit;

    &:hover {
      color: $primary;
    }
  }
}