#nav-menu {
  margin: 0 auto;
  font-size: 14px;
  width: 100%;

  @media (max-width: 700px) {
    margin: 0 1em;
  }

  p {
    margin: 0 0 .2em 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {
      align-items: column;
      color: #000000;
      font-weight: bold;
      background-color: rgba(255, 255, 255, .75);
      letter-spacing: 0.01em;

      a {
        display: flex;
        align-items: center;
        color: inherit;
        padding: 10px 16px 8px 16px;
        cursor: inherit;
        height: 100%;

        span {
          margin: 0;
          margin-left: 4px;
          padding: 0;
        }

        &:hover {
          background-color: darken(#316FF0, 20%);
          color: #ffffff;
          cursor: pointer;

          svg > g > path {
            fill: #ffffff;
          }

        }
      }

      &.active {
        background-color: #ffffff !important;

        a:hover {
          background-color: #ffffff !important;
          color: #000000;
          cursor: default;
        }
      }
    }
  }

  #github-icon {
    height: 18px;
    width: 18px;
  }

  #twitter-icon {
    position: relative;
    top: 3px;
  }

  h4 {
    margin: 2em 0 .25em 0;
  }

  .intro {
    margin: 0 0 2em 0;
  }

  .separator {
    text-align: center;
    margin-bottom: 2em;
  }
}

.page-indicator {
  font-size: 12px;
  color: #ef3b7d;
}