.slide {
  display: block;
  width: 800px;
  height: 420px;
  background-color: black;
}

.slider {
  display: flex;
  width: auto;
  height: 420px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: transform 1s;

  .slides {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    line-height: 0;

    .slide {
      display: inline-block;
    }
  }
}

.slider__dots {
  display: flex;
  justify-content: center;
  margin: 24px 0 12px 0;
}

.dot {
  cursor: pointer;
  height: 6px;
  width: 6px;
  box-shadow: 0 0 0 4px rgba(#8194A4, 0.4);
  background-color: rgba(#8194A4, 0.4);
  display: block;
  border-radius: 50%;
  transition: all 300ms ease;
  margin: 0 8px;

  &.active {
    box-shadow: 0 0 0 4px #316FF0;
    background-color: transparent;
  }
}

.slider__wrapper {
  max-width: 800px;
  position: relative;


  @media (max-width: 800px) {
    display: none;
  }
}

.slider__controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 100%;
  padding: 0 24px;
}

.next-arrow,
.prev-arrow,
.play-pause__button {
  width: 64px;
  height: 64px;
  background-color: rgba(#C8D0D7, .4);
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: rgba(#C8D0D7, .8);
  }
}
