#template {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

#content-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  position: 'relative';
}

#comments {
  max-width: 700px !important;
  margin: 0 auto;
  margin-top: 1em !important;
  margin-bottom: 2em !important;

  @media (max-width: 700px) {
    padding: 0;
  }
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darken(#ffffff, 10%);
}

.pagination-text,
.pagination-link__disabled {
  color: #8194A4;
}