#template {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  z-index: 2;
  background-color: #ffffff;
}

#header {
  z-index: 1;
}

#content-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  position: 'relative';
}

#comments {
  margin: 24px;

  @media (max-width: 700px) {
    padding: 0;
  }
}

.page-wrapper {
  font-size: 16px;
  margin: 24px;

  .post-header {
    margin-bottom: 22px;
  }

  .post-title {
    margin: 0;
  }
}

.section-content {
  font-size: 18px;
  line-height: 28px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darken(#ffffff, 10%);
}

.pagination-text,
.pagination-link__disabled {
  color: #8194A4;
}

.about-page-wrapper {
  margin: 24px;
}