html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 0.025em;
  line-height: 22px;
  height: 100%;
}

* {
  box-sizing: border-box;
}

code {
    font-size: 95%;
    font-family: 'Space Mono', Menlo, Monaco, "Courier New", monospace !important;
    line-height: 22px;
}

a {
  color: blue;
  border-bottom: 1px dotted blue;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid blue;
}

div.blog-post-content > p:last-of-type {
  padding-bottom: 0;
}